[submodule "candyjar"]
	path = candyjar
	url = https://github.com/chameleonlive/candyjar.git
[submodule "superchat-message"]
	path = superchat-message
	url = https://github.com/chameleonlive/superchat-message.git
