[submodule "candyjar"]
	path = candyjar
	url = https://github.com/chameleonlive/candyjar.git
[submodule "superchat-message"]
	path = superchat-message
	url = https://github.com/chameleonlive/superchat-message.git
[submodule "progress-bar"]
	path = progress-bar
	url = https://github.com/chameleonlive/progress-bar.git
