[submodule "candyjar"]
	path = candyjar
	url = git@github.com:chameleonlive/candyjar.git
[submodule "superchat-message"]
	path = superchat-message
	url = git@github.com:chameleonlive/superchat-message.git
